In [1]:
import pandas as pd

In [2]:
dset1 = pd.read_excel('data_set1.xlsx')
dset1

       cc_inx    hmdb_id     adducts       cid
0   cc-03-837  HMDB00017      [M-H]-      6723
1   cc-03-838  HMDB00034      [M-H]-       190
2   cc-03-839  HMDB00044      [M-H]-  54670067
3   cc-03-840  HMDB00045      [M-H]-      6083
4   cc-03-841  HMDB00050      [M-H]-     60961
5   cc-03-842  HMDB00058      [M-H]-      6076
6   cc-03-843  HMDB00089      [M-H]-      6175
7   cc-03-844  HMDB00094      [M-H]-       311
8   cc-03-845  HMDB00095      [M-H]-      6131
9   cc-03-846  HMDB00121      [M-H]-      6037
10  cc-03-847  HMDB00124      [M-H]-     69507
11  cc-03-848  HMDB00125      [M-H]-    124886
12  cc-03-849  HMDB00127      [M-H]-    444791
13  cc-03-850  HMDB00133  [M+Na-2H]-      6802
14  cc-03-851  HMDB00148  [M+Na-2H]-     33032
15  cc-03-852  HMDB00158      [M-H]-      6057
16  cc-03-853  HMDB00159      [M-H]-      6140
17  cc-03-854  HMDB00162      [M-H]-    145742
18  cc-03-855  HMDB00172      [M-H]-      6306
19  cc-03-856  HMDB00175      [M-H]-      8582
20  cc-03-857  HMDB00177      [M-H]-      6274
21  cc-03-858  HMDB00186   [M+K-2H]-     84571
22  cc-03-859  HMDB00192  [M+Na-2H]-     67678
23  cc-03-860  HMDB00195      [M-H]-      6021
24  cc-03-861  HMDB00210  [M+Na-2H]-       988
25  cc-03-862  HMDB00214      [M-H]-      6262
26  cc-03-863  HMDB00226  [M+Na-2H]-       967
27  cc-03-864  HMDB00227      [M-H]-       449
28  cc-03-865  HMDB00251      [M-H]-      1123
29  cc-03-866  HMDB00258  [M+Na-2H]-      5988
30  cc-03-867  HMDB00263  [M-H2O-H]-      1005
31  cc-03-868  HMDB00267      [M-H]-      7405
32  cc-03-869  HMDB00286      [M-H]-  53477679
33  cc-03-870  HMDB00288      [M-H]-      6030
34  cc-03-871  HMDB00289      [M-H]-      1175

In [3]:
dset2 = pd.read_excel('data_set2.xlsx')
dset2

         cid     adducts  group
0       6723      [M-H]-  V set
1        190      [M-H]-  V set
2   54670067      [M-H]-  V set
3       6083      [M-H]-  V set
4      60961      [M-H]-  V set
5       6076      [M-H]-  V set
6       6175      [M-H]-  V set
7        311      [M-H]-  V set
8       6131      [M-H]-  V set
9       6037      [M-H]-  V set
10     69507      [M-H]-  V set
11    124886      [M-H]-  V set
12    444791      [M-H]-  V set
13      6802  [M+Na-2H]-  V set
14     33032  [M+Na-2H]-  V set
15      6057      [M-H]-  V set
16      6140      [M-H]-  V set
17    145742      [M-H]-  V set
18      6306      [M-H]-  V set
19      8582      [M-H]-  V set

#### 1. 根据两个字段merge;
#### 2. 使用`indicator`参数显示每一行记录的来源;
#### 3. 使用`suffixes`参数为两个表中的重复字段添加后缀
- https://stackoverflow.com/a/47107164/2803344
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

In [4]:
dset_merged = pd.merge(dset1, dset2, left_on=['cid', 'adducts'], right_on=['cid', 'adducts'], 
                       how='left', indicator=True, suffixes=['', '_R'])
dset_merged

       cc_inx    hmdb_id     adducts       cid  group     _merge
0   cc-03-837  HMDB00017      [M-H]-      6723  V set       both
1   cc-03-838  HMDB00034      [M-H]-       190  V set       both
2   cc-03-839  HMDB00044      [M-H]-  54670067  V set       both
3   cc-03-840  HMDB00045      [M-H]-      6083  V set       both
4   cc-03-841  HMDB00050      [M-H]-     60961  V set       both
5   cc-03-842  HMDB00058      [M-H]-      6076  V set       both
6   cc-03-843  HMDB00089      [M-H]-      6175  V set       both
7   cc-03-844  HMDB00094      [M-H]-       311  V set       both
8   cc-03-845  HMDB00095      [M-H]-      6131  V set       both
9   cc-03-846  HMDB00121      [M-H]-      6037  V set       both
10  cc-03-847  HMDB00124      [M-H]-     69507  V set       both
11  cc-03-848  HMDB00125      [M-H]-    124886  V set       both
12  cc-03-849  HMDB00127      [M-H]-    444791  V set       both
13  cc-03-850  HMDB00133  [M+Na-2H]-      6802  V set       both
14  cc-03-851  HMDB00148  [M+Na-2H]-     33032  V set       both
15  cc-03-852  HMDB00158      [M-H]-      6057  V set       both
16  cc-03-853  HMDB00159      [M-H]-      6140  V set       both
17  cc-03-854  HMDB00162      [M-H]-    145742  V set       both
18  cc-03-855  HMDB00172      [M-H]-      6306  V set       both
19  cc-03-856  HMDB00175      [M-H]-      8582  V set       both
20  cc-03-857  HMDB00177      [M-H]-      6274    NaN  left_only
21  cc-03-858  HMDB00186   [M+K-2H]-     84571    NaN  left_only
22  cc-03-859  HMDB00192  [M+Na-2H]-     67678    NaN  left_only
23  cc-03-860  HMDB00195      [M-H]-      6021    NaN  left_only
24  cc-03-861  HMDB00210  [M+Na-2H]-       988    NaN  left_only
25  cc-03-862  HMDB00214      [M-H]-      6262    NaN  left_only
26  cc-03-863  HMDB00226  [M+Na-2H]-       967    NaN  left_only
27  cc-03-864  HMDB00227      [M-H]-       449    NaN  left_only
28  cc-03-865  HMDB00251      [M-H]-      1123    NaN  left_only
29  cc-03-866  HMDB00258  [M+Na-2H]-      5988    NaN  left_only
30  cc-03-867  HMDB00263  [M-H2O-H]-      1005    NaN  left_only
31  cc-03-868  HMDB00267      [M-H]-      7405    NaN  left_only
32  cc-03-869  HMDB00286      [M-H]-  53477679    NaN  left_only
33  cc-03-870  HMDB00288      [M-H]-      6030    NaN  left_only
34  cc-03-871  HMDB00289      [M-H]-      1175    NaN  left_only

#### 4. 使用`query`对DF进行过滤
- 下面可以得到data set1中有但是data set2中没有的数据
- https://stackoverflow.com/a/44546263/2803344

In [6]:
dset_merged.query("_merge=='left_only'")

       cc_inx    hmdb_id     adducts       cid group     _merge
20  cc-03-857  HMDB00177      [M-H]-      6274   NaN  left_only
21  cc-03-858  HMDB00186   [M+K-2H]-     84571   NaN  left_only
22  cc-03-859  HMDB00192  [M+Na-2H]-     67678   NaN  left_only
23  cc-03-860  HMDB00195      [M-H]-      6021   NaN  left_only
24  cc-03-861  HMDB00210  [M+Na-2H]-       988   NaN  left_only
25  cc-03-862  HMDB00214      [M-H]-      6262   NaN  left_only
26  cc-03-863  HMDB00226  [M+Na-2H]-       967   NaN  left_only
27  cc-03-864  HMDB00227      [M-H]-       449   NaN  left_only
28  cc-03-865  HMDB00251      [M-H]-      1123   NaN  left_only
29  cc-03-866  HMDB00258  [M+Na-2H]-      5988   NaN  left_only
30  cc-03-867  HMDB00263  [M-H2O-H]-      1005   NaN  left_only
31  cc-03-868  HMDB00267      [M-H]-      7405   NaN  left_only
32  cc-03-869  HMDB00286      [M-H]-  53477679   NaN  left_only
33  cc-03-870  HMDB00288      [M-H]-      6030   NaN  left_only
34  cc-03-871  HMDB00289      [M-H]-      1175   NaN  left_only