## 1. 数组(array)
R中的数组使用array进行创建，与向量不同的是，array可以是多维的（可简单理解为拥有dimension的vector(可以是1,2,...,n个维度)）。array中的数据同样是相同类型的。

array函数的形式为：
array(vector, dimensions, dimnames)，其中vector包含array中的元素，dimensions是一个向量指定array各个维度的大小，dimnames是一个list指定各个维度对应的名称。

  ---           |   ---
  ------------- | -------------
  <img src="./images/matrix.png", alt="drawing" width="400" />  | <img src="./images/array.png", alt="drawing" width="400" />

矩阵和数组的结构，图片来源：https://www.neonscience.org/hsi-hdf5-r

### 1.1 创建数组及取值

In [1]:
a <- c(1,3,4,5,6,7,8,9,3)
cat(a)

1 3 4 5 6 7 8 9 3

#### 1.1.1 通过定义dim(维度)将向量变成数组

In [2]:
dim(a) <- c(3, 3)  # 2维数组，同矩阵

In [3]:
a

     [,1] [,2] [,3]
[1,] 1    5    8
[2,] 3    6    9
[3,] 4    7    3

In [4]:
is.array(a)

[1] TRUE

In [5]:
is.matrix(a)

[1] TRUE

#### 1.1.2 使用array函数定义数组

In [6]:
v <- 1:9
cat(v)

1 2 3 4 5 6 7 8 9

In [13]:
B <- array(data = v, dim = c(3, 3))  # 默认按列创建数组
B

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [12]:
v2 <- 1:18
cat(v2)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

创建一个3维数组

In [26]:
C <- array(data = v2, dim = c(3, 3, 2), dimnames = list(c('a', 'b', 'c'),
                                                        c('d', 'e', 'f'),
                                                        c('g', 'h')))

In [27]:
C[,,1]  # 用整数index取值

  d e f
a 1 4 7
b 2 5 8
c 3 6 9

In [28]:
C[,,2]  #

  d  e  f
a 10 13 16
b 11 14 17
c 12 15 18

In [33]:
C['c','d','g']  # 用维度的名称取值

[1] 3

In [41]:
is.matrix(C)

[1] FALSE

In [42]:
is.array(C)

[1] TRUE

### 1.2 数组的属性

#### 1.2.1 维度信息

In [34]:
dim(C)

[1] 3 3 2

#### 1.2.2 元素的个数

In [35]:
length(C)

[1] 18

In [39]:
mode(C)

[1] "numeric"

## 2. 矩阵