### How to use PubChem REST API
- https://pubchemdocs.ncbi.nlm.nih.gov/pug-rest
- 支持的格式：XML/JSON/CSV/TXT...

### URL的基本格式：
- https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/2244/property/MolecularFormula/JSON
- `https://pubchem.ncbi.nlm.nih.gov/rest/pug/<input specification>/<operation specification>/[<output specification>][?<operation_options>]`

#### 编码
For proper transmission of certain special characters, strings passed e.g. for SMILES input may need to be URL encoded; for example, “smiles=C1C[CH+]1” should be encoded as “smiles=C1C%5BCH%2B%5D1”.

In [32]:
import os
import requests
import pandas as pd
import numpy as np
import json

In [23]:
BASE_URL = r'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/{q_from}/{q_value}/property'
q_from = 'cid'
q_to = ','.join(['CanonicalSMILES', 'IsomericSMILES', 'ExactMass'])
q_format = 'JSON'
q_to

'CanonicalSMILES,IsomericSMILES,ExactMass'

In [24]:
q_value = '5282283'
BASE_URL.format(q_from=q_from, q_value=q_value)

'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/5282283/property'

In [40]:
query = os.path.join(BASE_URL.format(q_from=q_from, q_value=q_value), q_to, q_format)
query

'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/5282283/property/CanonicalSMILES,IsomericSMILES,ExactMass/JSON'

In [27]:
r = requests.get(query)

In [28]:
r.status_code

200

In [34]:
q_result = json.loads(str(r.content, 'utf-8'))
q_result

{'PropertyTable': {'Properties': [{'CID': 5282283,
    'CanonicalSMILES': 'CCCCCCCCCCCCCCCC(=O)OCC(CO)OC(=O)CCCCCCCC=CCCCCCCCC',
    'ExactMass': 594.522,
    'IsomericSMILES': 'CCCCCCCCCCCCCCCC(=O)OC[C@H](CO)OC(=O)CCCCCCC/C=C\\CCCCCCCC'}]}}

In [39]:
q_dic = q_result['PropertyTable']['Properties'][0]
q_dic

{'CID': 5282283,
 'CanonicalSMILES': 'CCCCCCCCCCCCCCCC(=O)OCC(CO)OC(=O)CCCCCCCC=CCCCCCCCC',
 'ExactMass': 594.522,
 'IsomericSMILES': 'CCCCCCCCCCCCCCCC(=O)OC[C@H](CO)OC(=O)CCCCCCC/C=C\\CCCCCCCC'}

In [44]:
raw_data = pd.read_csv('lipid_name2pubchemid.txt', sep='\t', header=None)
raw_data

             0         1
0     DG(34:1)   5282283
1     DG(34:1)   5283470
2     DG(34:1)   5283471
3     DG(34:1)   9543686
4     DG(34:1)   9543691
5     DG(34:1)   9543972
6     DG(34:1)  56936316
7     DG(34:1)  53477956
8     DG(34:1)  53477984
9     DG(34:1)  56936375
10    DG(34:2)   9543689
11    DG(34:2)   9543690
12    DG(34:2)   9543694
13    DG(34:2)   9543695
14    DG(34:2)  56936317
15    DG(34:2)  53477957
16    DG(34:2)  53477985
17    DG(38:2)   9543755
18    DG(38:2)   9543756
19    DG(38:2)   9543757
20    DG(38:2)   9543780
21    DG(38:2)   9543788
22    DG(38:2)   9543792
23    DG(38:2)  56936300
24    DG(40:2)   9543804
25    DG(40:2)   9543805
26    DG(40:2)   9543833
27    DG(40:2)   9543834
28    DG(40:2)   9543847
29    DG(42:6)   9543911
...        ...       ...
4218  TG(62:7)   9545998
4219  TG(62:7)   9546012
4220  TG(62:7)   9546023
4221  TG(62:7)   9546024
4222  TG(62:7)   9546025
4223  TG(62:7)   9546028
4224  TG(62:7)   9546076
4225  TG(62:7)   9546086
4226  TG(62:7)   9546087
4227  TG(62:7)   9546096
4228  TG(62:7)   9546097
4229  TG(62:7)   9546108
4230  TG(62:7)   9546109
4231  TG(62:7)   9546137
4232  TG(62:7)   9546147
4233  TG(62:7)   9546178
4234  TG(62:7)  56936866
4235  TG(62:7)  56936947
4236  TG(62:7)  56939997
4237  TG(62:7)  56940067
4238  TG(62:7)  56940133
4239  TG(62:7)  56940136
4240  TG(62:7)  56940272
4241  TG(62:7)  56940276
4242  TG(62:7)  56940331
4243  TG(62:7)  56940437
4244  TG(62:7)  56940441
4245  TG(62:7)  56940553
4246  TG(62:7)  56940591
4247  TG(62:7)  56940601

[4248 rows x 2 columns]

In [51]:
24778900 in np.unique(raw_data[1])

True